body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(7, 236, 236);
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    color: #cf1e1e;
}

button:hover {
    background-color: #cf1e1e;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

.accordion-btn {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}
